{% extends 'markdown/index.md.j2' %}

{%- block traceback_line -%}
{{ line.rstrip() | strip_ansi }}
{%- endblock traceback_line -%}

{%- block stream -%}
{{ output.text.rstrip() }}
{%- endblock stream -%}

{%- block data_text scoped -%}
{{ output.data['text/plain'].rstrip() }}
{%- endblock data_text -%}

{%- block display_data scoped -%}
{%- set filename = output.metadata.get('filenames', {}).get('image/png', '') -%}
![{{ filename }}]({{ output_dir_name }}/{{ filename }})
{%- endblock display_data -%}