{%- block output_area_prompt -%}
{%- endblock output_area_prompt -%}
---
{% extends 'markdown/index.md.j2' %}

{%- block traceback_line -%}
{{ line.rstrip() | strip_ansi }}
{%- endblock traceback_line -%}

{%- block stream -%}
{% set lines = output.text.rstrip().split('\n') %}
{% for line in lines %}
<p>{{ line }}</p>
{% endfor %}
{%- endblock stream -%}

{%- block data_text scoped -%}
{{ output.data['text/plain'].rstrip() }}
{%- endblock data_text -%}

{%- block display_data scoped -%}
{%- set filename = output.metadata.get('filenames', {}).get('image/png', '') -%}
![{{ filename }}]({{ output_dir_name }}/{{ filename }})
{%- endblock display_data -%}
