{% extends 'markdown/index.md.j2' %}


{%- block traceback_line -%}
{{ line.rstrip() | strip_ansi }}
{%- endblock traceback_line -%}

{%- block stream -%}
{% set lines = output.text.rstrip().split('\n') %}
{% for line in lines %}
<p>{{ line }}</p>
{% endfor %}
{%- endblock stream -%}

{%- block data_text scoped -%}
{{ output.data['text/plain'].rstrip() }}
{%- endblock data_text -%}

{%- block display_data scoped -%}
{%- set filename = output.metadata.get('filenames', {}).get('image/png', '') -%}
![{{ filename }}]({{ output_dir_name }}/{{ filename }})
{%- endblock display_data -%}


{%- block execute_result scoped -%}
{%- if output.output_type == 'execute_result' and 'application/vnd.vegalite.v5+json' in output.data -%}
```vegalite linenums='0'
{{ output.data['application/vnd.vegalite.v5+json'] | tojson }}
```
{%- elif output.output_type == 'execute_result' and 'text/html' in output.data -%}
{{ output.data['text/html'] }}
{%- elif output.output_type == 'execute_result' and 'text/plain' in output.data -%}
<div class="result" markdown>
```linenums='0'
{{ output.data['text/plain'] }}
```
{%- endif %}
{%- endblock execute_result -%}
