[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = "==3.11.14"
dependencies = [
    "keras-image-helper==0.0.1",
    "numpy==1.26.4",
    "onnxruntime==1.16.3",
]
